main {
  margin: 2%;
}

.navbar {
  // Uses flex to move navtext to the right side of the side of the screen
  // Adds top and bottom spacing to the menubar
  background-color: #2e2e2e;
  display: flex;
  justify-content: flex-end;
  padding: 2%;

  .navbar-item {
    // Colors each menubar item light gray
    // with left margins and no underline
    color: lighten(gray, 20%);
    margin-left: 5%;
    text-decoration: none;

    &:hover {
      color: white;
    }
  }
}
