@import '~bootstrap/scss/bootstrap';
@import 'colors.scss';
@import 'homepage/_navbar.scss';
@import 'homepage/_dropdown-menu.scss';

// #authNotification {
//   float: right;
//   font-size: 25px;
// }

h1, #main-auth, #authNotification, #sign-up, #sign-in {
  display: flex;
  justify-content: center;
}

#main-auth {
  flex-direction: column;
  margin: 0 33%;

  .btn {
    margin: 3% 0;
  }
}

#sign-up, #sign-in {
  flex-direction: column;
  margin: 0 33%;
  margin-top: 5%;
}

body {
  background-color: $white;
}
